/* Daniel Flores López, UO282894 */
/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especifidad 001 */
body{
    font-family: Consolas, "Courier New", monospace;
    background-color: #F8F8E1;
    color: #522546;
}

/* Especifidad 001 */
header {
    /* Hereda el color de body */
    background-color: #522546;
}

/* Especifidad 002, 012 */
header a,
header a:visited{
    /* Hereda el background-color de header */
    color: #F8F8E1;
}

/* Especifidad 011, 021 */
a.active,
a.active:visited
{
    background-color: #A6DDC6;
    color: black;
}
