/* Daniel Flores López, UO282894 */
/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especifidad 001 */
body{
    font-family: Consolas, "Courier New", monospace;
    background-color: #F8F8E1;
    color: #522546;
}

/* Especifidad 001 */
header {
    /* Hereda el color de body */
    background-color: #522546;
}

/* Especifidad 002, 002, 002, 012, 012, 012 */
header h1, header nav, header a,
header a:visited,
header a:hover,
header a:active {
    /* Hereda el background-color de header */
    color: #F8F8E1;
}
