/* Daniel Flores López, UO282894 */
/* Estilos generales del proyecto MotoGP-Desktop*/

/* Especifidad 001 */
body{
    font-family: Consolas, "Courier New", monospace;
    background-color: #F8F8E1;
    color: #522546;
}

/* Especifidad 001 */
header {
    /* Hereda el color de body */
    background-color: #522546;
}

/* Especifidad 002, 002, 003, 013, 013, 013 */
header h1, header nav, header nav a,
header nav a:visited,
header nav a:hover,
header nav a:active {
    /* Hereda el background-color de header */
    color: #F8F8E1;
}
